<div class="row">
	<div class="col-lg-8">
		<!--<%= image_tag("videoframe.png", :alt => "video frame" , :class => "img-responsive") %>-->
		<div class="col-lg-offset-2 col-lg-8">
			<div class="flex-video widescreen">
				<iframe src="//www.youtube.com/embed/-QiyPVwZkk8" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
	  <% if user_signed_in? %>
		<div class="row" style="margin-bottom:20px">
			<div class="col-lg-10 col-lg-offset-1">
				<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  				Adauga o noua melodie
				</button>
				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-dialog">
				  	<%= render "songs/form" %>
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->
			</div>
		</div>
	  <% end %>
		<div class="panel panel-default">
  <!-- Default panel contents -->
		  <div class="panel-heading">Playlist</div>
<p> <%= @titlu %>  </p>
		  <!-- List group -->
		  <ul class="list-group">
		  <% if @songs %>
		  <% @songs.each do |song| %>
		   @var = <%= song.link %>
		   @cod = eval(@var)
		    <li class="list-group-item"><a href="" + @cod + ""><%= song.title %></a></li>
		    <li class="list-group-item"><a href="#"><%= song.title %></a></li>
		    <li class="list-group-item"><a href="#"><%= song.title %></a></li>
		    <li class="list-group-item"><a href="#"><%= song.title %></a></li>
		    <li class="list-group-item"><a href="#"><%= song.title %></a></li>
		    <% end %>
		    <% else %>
		    <li class="list-group-item"><a href="#">Ccccc</a></li>
		    <li class="list-group-item"><a href="#"><%= @song.id %></a></li>

		    <% end %>
		  </ul>
		</div>
	</div>
</div>
